<!DOCTYPE html>
<html>
<head>
    <title>403</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/errors.css') }}">   

</head>
<body>
   <div id="notfound">
     <div class="notfound">
       <div class="notfound-404">
         <h1>404</h1>
         <h2>Page not found</h2>
       </div>
      
       <a href="{{ url_for('home') }}">Homepage</a>
     </div>
   </div>
</body>
</html>

