<!DOCTYPE html>
<html>
<head>
    <title>500</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/errors.css') }}">   
</head>
<body>
   <div id="notfound">
     <div class="notfound">
       <div class="notfound-404">
         <h1>500</h1>
         <h2>something went wrong please</h2>
         <p> we are experiencing some trouble in our end, please try later</p>
       </div>
       <br><br><br>
       <a href="{{ url_for('home') }}">Homepage</a>
     </div>
   </div>
</body>
</html>

