*{
    box-sizing: border-box;
  }
  #name{
    font-size: 1.5em;
    color: #38d39f;
  }
 body {
    background: #fafafa;
    color: #333333;
    
  }
 
h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
.bg-steel {
    background-color: #5f788a;
  }
  

  
.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    
    
  }
  
.article-title {
    color: #444444;
  }
  

  
.article-content {
    white-space: pre-line;
    
  }
  
.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
    
  }
  
.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
.article-metadata #name:hover {
    color: #333;
    text-decoration: none;
  }
  
.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
.account-heading {
    font-size: 2.5rem;
  }
.post-image{
  padding-left: 14%;
}
#like{
  color: #a7979730;
  font-size: 2em;
  padding-left: 5%;
}
.heart i.fa-heart{
  color: #f44336;
}
.heart{
  animation: heart 0.5s linear;
}
